body {
	padding: 50px;
	margin:0;
}

hr {
	margin: 25px 0;
}

.count {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.day-of-week {
	font: 12px sans-serif;
}

blockquote {
	background-color: #F1F1F1;
	margin:0;
	padding:2em;
}

ul {
	list-style: none;
	margin:0;
	padding:0;
}

.from-now {
	font-size: 12px;
}

.slice path {
	fill:#CE96C8;
	stroke: white;
}

.is-max path {
	stroke: white;
}

.lines {
	fill:none;
	stroke: black;
}

.numbers-label {
	fill:white;
}

.chart {
	max-width: 100%;
}

text.number-label {
	alignment-baseline: middle;
}

text.pie-number {
	text-anchor: middle;
}